{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{% static 'images/logo4.png' %}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for group in request.user.groups.all %}
            {% if group.name == 'salesman' %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Products</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <div class="d-flex flex-row ml-lg-auto">
            <span class="navbar-text mr-3">Hello, {{request.user}}</span>
            <span class="navbar-text">(</span>
            <a class="nav-link px-0" href="#">Profile</a>
            <span class="navbar-text mr-1">,</span>
            <a class="nav-link px-0" href="{% url 'logout' %}">Logout</a>
            <span class="navbar-text">)</span>
        </div>
    </div>
</nav>