{% extends 'accounts/_base.html' %}

{% block content %}

{% include 'accounts/_status.html' %}
<br>

<div class="row">
    <div class="col-md-5">
        <div class="card card-body">
            <h5 class="card-title">Customers:</h5>

            <hr>

            <a class="btn btn-primary btn-sm btn-block" role="button" href="#">Create Customer</a>

            <table class="table table-sm">
                <tr>
                    <th>Customer</th>
                    <th>Phone</th>
                </tr>

                {% for customer in customers %}
                <tr>
                    <td><a href="{% url 'customer' customer.id %}">{{customer.name}}</a></td>
                    <td>{{customer.phone}}</td>
                </tr>
                {% endfor%}
            </table>
        </div>
    </div>

    <div class=" col-md-7">
        <div class="card card-body">
            <h5 class="card-title">Last 5 Orders:</h5>

            <hr>

            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Removed</th>
                </tr>

                {% for order in orders_last_five %}
                <tr>
                    <td>{{order.product}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.get_status_display}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
                </tr>
                {% endfor%}
            </table>
        </div>
    </div>
</div>

{% endblock %}